<p id="notice"><%= notice %></p>

<center><h1>Pacientes</h1></center>

<table>
  <thead>
  <tr>
    <th>Nome completo</th>
    <th>Data de nascimento</th>
    <th>CPF</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @pacientes.each do |paciente| %>
    <tr>
      <td><%= paciente.nomeCompleto %></td>
      <td><%= paciente.dataNascimento %></td>
      <td><%= paciente.CPF %></td>
      <td><%= paciente.email %></td>
      <td><%= link_to 'Visualizar', paciente %></td>
      <td><%= link_to 'Editar', edit_paciente_path(paciente) %></td>
      <td><%= link_to 'Apagar', paciente, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar paciente', new_paciente_path %>
<%= link_to 'Cadastrar consulta', new_consultum_path %>
<%= link_to 'Voltar', root_path %>