<p id="notice"><%= notice %></p>

<p>
  <strong>Nome completo:</strong>
  <%= @medico.nomeCompleto %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @medico.dataNascimento %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @medico.CPF %>
</p>

<p>
  <strong>Email:</strong>
  <%= @medico.email %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @medico.especialidade %>
</p>

<p>
  <strong>CRM:</strong>
  <%= @medico.CRM %>
</p>

<%= link_to 'Editar', edit_medico_path(@medico) %> |
<%= link_to 'Voltar', medicos_path %>
